.container .row{
  margin-top: 10px;
  
}
#carousel{
  margin-top: 50px;
}
.col-mg-6 a.btn:after{
  content: " [-]";

}
a.spoiler.collapsed:after{
  content: " [+]";
}
.nav-tabs{
  margin-bottom: 15px;
}
